Chamados.json
{
  "name": "Chamados",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Chamados",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "requiredField": true
            },
            {
              "fieldLabel": "Descrição",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Prioridade",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Crítica"
                  },
                  {
                    "option": "Alta"
                  },
                  {
                    "option": "Média"
                  },
                  {
                    "option": "Baixa"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        -192
      ],
      "id": "08b15585-8c96-4cb0-aba6-0936fd956a02",
      "name": "On form submission",
      "webhookId": "e4f9baed-3fec-422c-84cb-1e0722e6ce5f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1a31efa-b519-4671-8cec-0ad57cf64fe6",
              "leftValue": "={{ $json.Prioridade }}",
              "rightValue": "Crítica",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        -288
      ],
      "id": "b8298e8a-7a8e-4dea-a936-9af9bcd7f062",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        -192
      ],
      "id": "94c14201-02a3-429c-a7fe-f1c2e5382237",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um classificador de chamado de TI.\nClassifique o chamado em UMA das seguintes categorias:\n- Hardware\n- Internet\n- Sistemas\n- Acessos\n- Dados\n- Outros\nRegras:\n- Responda Apenas com o nome exato da categoria.\n- Não explique sua resposta.\n- Não use aspas.\n- Não invente categorias.\nChamado: \n{{ $json['Descrição'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "06c41321-fb42-4f98-b776-744bd6150e37",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "cyLfi5HjQnfUPavb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "9p8Z6SNtvi0daFrV",
          "mode": "list",
          "cachedResultName": "chamados",
          "cachedResultUrl": "/projects/RSNA8NqFzYuX57oo/datatables/9p8Z6SNtvi0daFrV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "descricao": "={{ $('On form submission').item.json['Descrição'] }}",
            "prioridade": "={{ $('On form submission').item.json.Prioridade }}",
            "classificacao": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prioridade",
              "displayName": "prioridade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "classificacao",
              "displayName": "classificacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "8b829540-526c-4a7a-affc-44ca59ef9a86",
      "name": "Insert row"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1MLd5M1lWaQKAoVI",
          "mode": "list",
          "cachedResultUrl": "/workflow/1MLd5M1lWaQKAoVI",
          "cachedResultName": "ChamadosUrgentes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        -384
      ],
      "id": "51534c1b-0058-4890-a141-adf49c11747b",
      "name": "Call 'ChamadosUrgentes'"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'ChamadosUrgentes'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6930bcf1-d682-4f23-8c66-ae56a9f656de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dd30638a48d411a62b5850cecfef15b30c819bb0c2d637407e17bee2a4ead51"
  },
  "id": "Xtwlg3vw3dzq5eHJ",
  "tags": []
}