Fallback.json
{
  "name": "Fallback",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d3ef8cca-08ad-4f5f-ab82-77d820dab1bb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "throww new Error(\"Erro proposital na função\")"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ac7158fd-6a92-4491-a5ae-463e79f3a15f",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c28f662e-a1b5-4619-a9e3-00f4bb627622",
              "leftValue": "={{ !!$json.error }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "396366bd-2e3d-42d5-95d0-4d02c5dd3b89",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      source: \"fallback\",\n      message: \"Fallback executado com sucesso\"\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "09ecedf7-6006-4a23-a6f2-dbc81a4e796f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c28f662e-a1b5-4619-a9e3-00f4bb627622",
              "leftValue": "={{ !!$json.error }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        -96
      ],
      "id": "1a38acac-c7e3-4e70-bce6-9caf2190b3f9",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "Workflow falhou mesmo com fallback"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1056,
        -192
      ],
      "id": "54b53cff-bbd4-4596-8a0b-5f6c572584c4",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "fromEmail": "sistema@example.com",
        "toEmail": "suporte@example.com",
        "subject": "Processo executado com sucesso ",
        "emailFormat": "text",
        "text": "Processo executado com sucesso ",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1024,
        80
      ],
      "id": "7d2f11c7-8064-496b-b7be-3b1f9e97ea9d",
      "name": "Send email",
      "webhookId": "2086c7df-a207-4078-a212-9810028c4112",
      "credentials": {
        "smtp": {
          "id": "irQnnHrbeKvJ21Bw",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f94acbb-0d6c-45f0-8a51-da54d0563808",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dd30638a48d411a62b5850cecfef15b30c819bb0c2d637407e17bee2a4ead51"
  },
  "id": "NFA9akxQGOQ6rEYx",
  "tags": []
}