Split.json
{
  "name": "Split",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -528
      ],
      "id": "de9724c8-9c31-485d-b4ba-24d9a7ba576f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ceps\" : [\n    {\"cep\":\"01001-000\"},\n    {\"cep\":\"01310-200\"},\n    {\"cep\":\"20040-020\"},\n    {\"cep\":\"30110-012\"},\n    {\"cep\":\"40015-060\"}\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -528
      ],
      "id": "2484eff6-897f-4e03-bd9a-db0f0856a022",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ceps",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        -528
      ],
      "id": "14e669c4-368c-4854-b29b-4f5d76c71aff",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $json.cep }}/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -528
      ],
      "id": "a9621aec-e708-4b4d-b4d4-d0daeb12a7ef",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        864,
        -528
      ],
      "id": "64b20635-2397-4ed1-b80c-a3dd281b393e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/ceps.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1088,
        -528
      ],
      "id": "8e8feb9f-a139-4ee9-9df6-c3c8505ec983",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c822661d-bbc4-418e-9246-56eeddba4a47",
  "meta": {
    "instanceId": "1dd30638a48d411a62b5850cecfef15b30c819bb0c2d637407e17bee2a4ead51"
  },
  "id": "1D6zkyE1ape28iZN",
  "tags": []
}