Webhook.json
{
  "name": "Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f4738bf1-034a-4809-9fc6-682cc860ee8f",
      "name": "Webhook",
      "webhookId": "d0a1c597-eaf5-4a18-98bb-9777f53a1c61"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8780e9b2-e276-4f7f-b1f2-e58100569424",
              "name": "Information",
              "value": "=Name: {{ $json.query.name }}, Age:{{ $json.query.Age }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d4b16497-fd2e-499b-bb05-35b591017e70",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "f24cf993-7d47-45d6-9e93-c9b73319194e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/webhook.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "9b8c432d-c635-425e-b4c0-8289ec3da3dc",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39746e11-cdca-4ee1-be10-b0eb1ee756db",
  "meta": {
    "instanceId": "1dd30638a48d411a62b5850cecfef15b30c819bb0c2d637407e17bee2a4ead51"
  },
  "id": "xgyMoCYtP02D2qGr",
  "tags": []
}